<form name="kickerForm">
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Name</label>
            <input ng-model="location.name" placeholder="Name">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Street</label>
            <input ng-model="location.street">
        </md-input-container>
        <md-input-container flex>
            <label>City</label>
            <input ng-model="location.city">
        </md-input-container>
        <md-input-container flex>
            <label>Postal Code</label>
            <input ng-model="location.postalcode">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="location.email">
        </md-input-container>
        <md-input-container flex>
            <label>Phone</label>
            <input ng-model="location.phone">
        </md-input-container>
        <md-input-container flex>
            <label>Homepage</label>
            <input ng-model="location.homepage_url">
        </md-input-container>
    </div>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Table</label>
            <input ng-model="location.table_info">
        </md-input-container>
        <!-- May via icons?Stars -->
        <md-input-container flex>
            <label>Table-State</label>
            <input ng-model="location.table_state">
        </md-input-container>
        <!-- May via icons?Stars -->
        <md-input-container flex>
            <label>Skill</label>
            <input ng-model="location.skill_level">
        </md-input-container>
    </div>

    <md-input-container flex>
        <label>Other</label>
        <textarea ng-model="location.other" columns="1" md-maxlength="150"></textarea>
    </md-input-container>
</form>