<div class="location-header">

    <h1>{{location.name}}</h1>

    <h2>{{location.street}}</h2>
    <h3>{{location.postalcode}}{{location.city}}</h3>
    <h4>{{checkIns.length}} Check Ins</h4>

    <div class="item item-image"></div>
</div>



<button ng-click="checkIn()" class="button button-full button-balanced">
    Check In
</button>


<div class="item item-avatar">
    <img src="img/avatar.png">

    <h2>Robin B&ouml;hm</h2>

    <p>20 Checkins</p>
</div>
<div class="item item-avatar">
    <img src="img/avatar.png">

    <h2>Robin B&ouml;hm</h2>

    <p>20 Checkins</p>
</div>
<div class="item item-avatar">
    <img src="img/avatar.png">

    <h2>Robin B&ouml;hm</h2>

    <p>20 Checkins</p>
</div>
<div class="item item-avatar">
    <img src="img/avatar.png">

    <h2>Robin B&ouml;hm</h2>

    <p>20 Checkins</p>
</div>
<div class="item item-avatar">
    <img src="img/avatar.png">

    <h2>Robin B&ouml;hm</h2>

    <p>20 Checkins</p>
</div>