<ion-view view-title="Map" hide-nav-bar="true">
    <ion-content scroll="false" data-tap-disabled="true">
        <div id="map_canvas" ng-controller="MapCtrl" class="map">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">

                <ui-gmap-markers idkey="'id'" models="map.markers" coords="'self'"
                                 docluster="true">

                    <ui-gmap-windows>
                        <div>
                            <h2><a href="#/tab/map/location/{{id}}" ng-non-bindable>{{::name}}</a></h2>

                            <h3 ng-non-bindable>{{::street}} {{::postalcode}} {{::city}}</h3>

                            <div ng-non-bindable>{{::table_info}}({{::table_state}})</div>
                            <div ng-non-bindable>{{::playing_hours}}</div>
                            <div ng-non-bindable>{{::skill_level}}</div>
                        </div>
                    </ui-gmap-windows>

                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </ion-content>
</ion-view>
