<ion-view view-title="Location">
    <ion-content>

        <div class="list card">

            <div ng-include="'templates/includes/_show-location.html'"></div>


            <a href="#/tab/near/location/{{location.id}}/edit">
                <button class="button button-full button-light">
                    Edit
                </button>
            </a>


        </div>
</ion-view>