<ion-view view-title="Near">
    <ion-content>
        <div layout>
            <md-slider flex="75" min="1" max="100" ng-model="options.radius" aria-label="radius">
            </md-slider>
            <md-button ng-click="search()" flex="25" class="md-raised md-primary">{{options.radius}} km</md-button>
        </div>

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="location in locations"
                      type="item-text-wrap" href="#/tab/near/location/{{location.id}}">

                <h2><b>{{location.name}}</b> ({{ location.table_info }})</h2>

                <p>{{location.distance| number:2}}km</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
