Alles Liebe zum Geburtstag Kücken


/* Empty. Add your own CSS if you like */

.map, {
    display: block;
    width: 100%;
    height: 100%;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.scroll {
    height: 100%;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

.location-header {
    position: relative;
}

.location-header .item-image {
    height: 200px;
    background-size: cover;
    background-image: url('../img/kicker.jpg');
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.location-header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

.location-header > h1 {
    position: absolute;
    top: 20px;
    color: white;
    z-index: 10;
    width: 100%;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.location-header > h2 {
    position: absolute;
    top: 40px;
    color: white;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.location-header > h3 {
    position: absolute;
    top: 60px;
    color: white;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.location-header > h4 {
    position: absolute;
    top: 80px;
    color: white;
    z-index: 10;
    width: 100%;
    text-align: center;
}
